li label {
  cursor: pointer;
  text-transform: capitalize; }

.yes {
  color: green; }

.no {
  color: red; }

.choice-list {
  margin: 0;
  padding: 0; }
  .choice-list li {
    list-style-type: none; }

.title {
  margin: 5px 0; }
